<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add customer form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add customer</h1>
<form action="#" th:action="@{/add-customer}" th:object="${addCustomerAttribute}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Area: <input type="text" th:field="*{area}" /></p>
    <p>Discount: <input type="number" th:field="*{discount}" /></p>

    <p><input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
        <a href="/add-customer">Add customer</a></p>
</form>
</body>
</html>